.c1,.c2,.c3{
    border: 2px solid black;
    display: flex;
    width: 600px;
    height: 200px;
}

.c1>div, .c2>div, .c3>div{
   width: 100px;
    height: 100px;
}

.e1{
    background-color: red;
}

.e2{
    background-color:blue;
}
.e3{
    background-color:purple;
}

.c2>div{
    flex-grow: 1;
}

.c3 .e1, .c3 .e2{
   flex-grow: 1
}

.c3 .e3{
    flex-grow: 2;
 }