.div-un{
    width: 200px;
    height: 200px;
    background-color: #06D;
    border: 5px solid purple;
    
    /* -webkit-transition: width 10s ease 3s, background-color 5s linear 6s; */
    /* -moz-transition: width 10s ease 3s, background-color 5s linear 6s; */
    /* -o-transition: width 10s ease 3s, background-color 5s linear 6s; */
    transition:  width 2s linear 0s;
}
.div-un:hover{
    width: 400px;
    background-color: red;
}