h1,p{
    color:blue;
}

.texteCentre{
    text-align: center;
}

#introduction{
    color: rgb(235, 150, 65);
    font-weight: bold;
    text-align: right;
    text-shadow: -1px -1px 2px black;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

strong{
    font-size: 30px;
}